.container {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    background-color: #00796b;
    height: 30px;
    display: flex;
    justify-content: center;
}

.card img {
    height: 15em;
    width: 10em;
    margin: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

.card span {
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
    .card img {
        width: 80%;
        height: 20em;
    }
}